centrifugo/fcm.json
backend/env/
backend/db.sqlite3
backend/app/local_settings.py
frontend/node_modules
frontend/public/firebase-config.js
postgres_data/
.idea/
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
